.pageWrapper {
  background-color: #f2f2f2;
  transition: all 0.3s ease-in-out;
}

.mainContainer {
  background-color: #ffffff;
  min-height: 90dvh;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.container {
  padding: 24px 20px;
}

.emptyText {
  text-align: center;
  color: #a1a1a1;
  font-size: 14px;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .pageWrapper {
    height: auto;
    overflow: visible;
    padding: 40px 0;
    margin-left: 230px;
    width: calc(100% - 230px);
    background-color: #f2f2f2;
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }

  .pageWrapper.sidebarCollapsed {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .mainContainer {
    width: 95%;
    max-width: 1000px;
    height: auto;
    overflow: hidden;
    padding: 40px clamp(20px, 5vw, 60px);
    padding-bottom: 30px;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 0;
  }
}
