.btnSave {
  height: 56px;
  background-color: #f08100;
  color: white;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 700;
  /* box-shadow: 0 6px 20px rgba(240, 129, 0, 0.25); */
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.btnSave:hover:not(:disabled) {
  background-color: #ff8c00;
  transform: translateY(-2px);
}

.btnSave:active:not(:disabled) {
  transform: scale(0.97);
  box-shadow: 0 4px 10px rgba(240, 129, 0, 0.2);
  filter: brightness(0.9);
}

.btnSave:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  box-shadow: none;
  cursor: not-allowed;
  pointer-events: none;
  transform: none;
}
