.container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.mainContent {
  background-color: #f2f2f2;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
  }
  .mobileFooterWrapper {
    height: auto;
  }
}
