.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
}

@media (max-height: 500px) {
  .mainContent {
    padding-bottom: 20px;
  }
}
